In [37]:
import pandas as pd
import os

NameError: name 'reload' is not defined

In [29]:
path = os.getcwd();path

'D:\\FinancialSheet'

In [30]:
pwd

'D:\\FinancialSheet'

In [34]:
df15 = pd.read_csv(path + "\\2015_4Q_FS\\_2015_사업보고서_01_재무상태표_20160531.csv", engine='python')
df16 = pd.read_csv(path + "\\2016_4Q_FS\\_2016_사업보고서_01_재무상태표_20170524.csv", engine='python')

#df.columns

df.columns =['재무제표종류', '종목코드', '회사명', '시장구분', '업종', '업종명', '결산월', '결산기준일', '보고서종류',
       '통화', '항목코드', '항목명', '당기', '전기', '전전기', 'Column1']

In [35]:
#df15.columns
df16.columns

Index(['癤우옱臾댁젣�몴醫낅쪟', '醫낅ぉ肄붾뱶', '�쉶�궗紐�', '�떆�옣援щ텇', '�뾽醫�', '�뾽醫낅챸', '寃곗궛�썡',
       '寃곗궛湲곗���씪', '蹂닿퀬�꽌醫낅쪟', '�넻�솕', '�빆紐⑹퐫�뱶', '�빆紐⑸챸', '�떦湲�', '�쟾湲�',
       '�쟾�쟾湲�', 'Column1'],
      dtype='object')

In [33]:
df15['항목명'] = df15['항목명'].str.strip()
df16['항목명'] = df16['항목명'].str.strip()

KeyError: '항목명'

In [6]:
#df15['항목명'] == '자본금'

In [7]:
bs115 = df15.loc[:,['시장구분','종목코드', '회사명', '결산기준일', '항목코드', '항목명', '당기', '전기', '전전기']]
bs116 = df16.loc[:,['시장구분','종목코드', '회사명', '결산기준일', '항목코드', '항목명', '당기', '전기', '전전기']]

In [8]:
bs115.head(2)

,시장구분,종목코드,회사명,결산기준일,항목코드,항목명,당기,전기,전전기
0,코스닥시장상장법인,[060310],3S,2015-03-31,ifrs_AssetsAbstract,자산 [abstract],NaN,NaN,NaN
1,코스닥시장상장법인,[060310],3S,2015-03-31,ifrs_CurrentAssets,유동자산,1.490718e+10,1.682680e+10,1.869050e+10

In [9]:
df15 = pd.read_csv(path + "\\2015_4Q_FS\\_2015_사업보고서_01_재무상태표_연결_20160531.csv")
df16 = pd.read_csv(path + "\\2016_4Q_FS\\_2016_사업보고서_01_재무상태표_연결_20170524.csv")

In [10]:
df15['항목명'] = df15['항목명'].str.strip()
df16['항목명'] = df16['항목명'].str.strip()

In [11]:
bs215 = df15.loc[:,['시장구분','종목코드', '회사명', '결산기준일', '항목코드', '항목명', '당기', '전기', '전전기']]
bs216 = df16.loc[:,['시장구분','종목코드', '회사명', '결산기준일', '항목코드', '항목명', '당기', '전기', '전전기']]

In [12]:
bs215.head(2)

,시장구분,종목코드,회사명,결산기준일,항목코드,항목명,당기,전기,전전기
0,코스닥시장상장법인,[060310],3S,2015-03-31,ifrs_AssetsAbstract,자산 [abstract],NaN,NaN,NaN
1,코스닥시장상장법인,[060310],3S,2015-03-31,ifrs_CurrentAssets,유동자산,1.606908e+10,1.812689e+10,1.952282e+10

In [13]:
df15 = pd.read_csv(path + "\\2015_4Q_FS\\_2015_사업보고서_02_손익계산서_20160531.csv")
df16 = pd.read_csv(path + "\\2016_4Q_FS\\_2016_사업보고서_02_손익계산서_20170524.csv")

In [14]:
df15['항목명'] = df15['항목명'].str.strip()
df16['항목명'] = df16['항목명'].str.strip()

In [15]:
pl115= df15.loc[:,['시장구분','종목코드', '회사명', '결산기준일', '항목코드', '항목명', '당기', '전기', '전전기']]
pl116= df16.loc[:,['시장구분','종목코드', '회사명', '결산기준일', '항목코드', '항목명', '당기', '전기', '전전기']]

In [16]:
pl115.head(2)

,시장구분,종목코드,회사명,결산기준일,항목코드,항목명,당기,전기,전전기
0,유가증권시장상장법인,[001040],CJ,2015-12-31,ifrs_Revenue,영업수익,1.036240e+11,9.849757e+10,9.035173e+10
1,유가증권시장상장법인,[001040],CJ,2015-12-31,ifrs_RevenueFromRoyalties,로열티수익(매출액),7.572452e+10,7.335013e+10,6.476918e+10

In [17]:
df15 = pd.read_csv(path + "\\2015_4Q_FS\\_2015_사업보고서_02_손익계산서_연결_20160531.csv")
df16 = pd.read_csv(path + "\\2016_4Q_FS\\_2016_사업보고서_02_손익계산서_연결_20170524.csv")

In [18]:
df15['항목명'] = df15['항목명'].str.strip()
df16['항목명'] = df16['항목명'].str.strip()

In [19]:
df15.columns

Index(['﻿재무제표종류', '종목코드', '회사명', '시장구분', '업종', '업종명', '결산월', '결산기준일', '보고서종류',
       '통화', '항목코드', '항목명', 'Column1', '당기', '_1', '_2', '전기', '전전기', '_3'],
      dtype='object')

In [20]:
pl215= df15.loc[:,['시장구분','종목코드', '회사명', '결산기준일', '항목코드', '항목명', '당기', '전기', '전전기']]
pl216= df16.loc[:,['시장구분','종목코드', '회사명', '결산기준일', '항목코드', '항목명', '당기', '전기', '전전기']]

In [21]:
pl215.head(2)

,시장구분,종목코드,회사명,결산기준일,항목코드,항목명,당기,전기,전전기
0,유가증권시장상장법인,[001040],CJ,2015-12-31,ifrs_Revenue,영업수익,2.116670e+13,1.957230e+13,1.885170e+13
1,유가증권시장상장법인,[001040],CJ,2015-12-31,ifrs_RevenueFromSaleOfGoods,재화의 판매로 인한 수익(매출액),1.186570e+13,1.094740e+13,1.074420e+13

In [22]:
df15 = pd.read_csv(path + "\\2015_4Q_FS\\_2015_사업보고서_03_포괄손익계산서_20160531.csv")
df16 = pd.read_csv(path + "\\2016_4Q_FS\\_2016_사업보고서_03_포괄손익계산서_20170524.csv")

In [23]:
df15['항목명'] = df15['항목명'].str.strip()
df16['항목명'] = df16['항목명'].str.strip()

In [24]:
df15.columns

Index(['﻿재무제표종류', '종목코드', '회사명', '시장구분', '업종', '업종명', '결산월', '결산기준일', '보고서종류',
       '통화', '항목코드', '항목명', 'Column1', '당기', '_1', '_2', '전기', '전전기', '_3'],
      dtype='object')

In [25]:
pl315= df15.loc[:,['시장구분','종목코드', '회사명', '결산기준일', '항목코드', '항목명', '당기', '전기', '전전기']]
pl316= df16.loc[:,['시장구분','종목코드', '회사명', '결산기준일', '항목코드', '항목명', '당기', '전기', '전전기']]

In [26]:
pl315.head(2)

,시장구분,종목코드,회사명,결산기준일,항목코드,항목명,당기,전기,전전기
0,코스닥시장상장법인,[060310],3S,2015-03-31,ifrs_Revenue,수익(매출액),2.110422e+10,2.653654e+10,3.019712e+10
1,코스닥시장상장법인,[060310],3S,2015-03-31,ifrs_CostOfSales,매출원가,1.980746e+10,2.454257e+10,2.336362e+10

In [27]:
df15 = pd.read_csv(path + "\\2015_4Q_FS\\_2015_사업보고서_03_포괄손익계산서_연결_20160531.csv")
df16 = pd.read_csv(path + "\\2016_4Q_FS\\_2016_사업보고서_03_포괄손익계산서_연결_20170524.csv")

In [28]:
df15['항목명'] = df15['항목명'].str.strip()
df16['항목명'] = df16['항목명'].str.strip()

In [29]:
pl415= df15.loc[:,['시장구분','종목코드', '회사명', '결산기준일', '항목코드', '항목명', '당기', '전기', '전전기']]
pl416= df16.loc[:,['시장구분','종목코드', '회사명', '결산기준일', '항목코드', '항목명', '당기', '전기', '전전기']]

In [30]:
pl415.head(2)

,시장구분,종목코드,회사명,결산기준일,항목코드,항목명,당기,전기,전전기
0,코스닥시장상장법인,[060310],3S,2015-03-31,ifrs_Revenue,수익(매출액),2.321054e+10,2.886299e+10,3.223645e+10
1,코스닥시장상장법인,[060310],3S,2015-03-31,ifrs_CostOfSales,매출원가,2.157553e+10,2.642635e+10,2.500396e+10

In [31]:
df15 = pd.read_csv(path + "\\2015_4Q_FS\\_2015_사업보고서_04_현금흐름표_20160601.csv")
df16 = pd.read_csv(path + "\\2016_4Q_FS\\_2016_사업보고서_04_현금흐름표_20170524.csv")

In [32]:
df15['항목명'] = df15['항목명'].str.strip()
df16['항목명'] = df16['항목명'].str.strip()

In [33]:
cf115= df15.loc[:,['시장구분','종목코드', '회사명', '결산기준일', '항목코드', '항목명', '당기', '전기', '전전기']]
cf116= df16.loc[:,['시장구분','종목코드', '회사명', '결산기준일', '항목코드', '항목명', '당기', '전기', '전전기']]

In [34]:
cf115.head(2)

,시장구분,종목코드,회사명,결산기준일,항목코드,항목명,당기,전기,전전기
0,코스닥시장상장법인,[060310],3S,2015-03-31,ifrs_CashFlowsFromUsedInOperatingActivities,영업활동현금흐름,2.923614e+08,2.296141e+09,2.962155e+09
1,코스닥시장상장법인,[060310],3S,2015-03-31,dart_ProfitLossForStatementOfCashFlows,당기순이익(손실),-5.538219e+09,-4.784630e+09,6.677592e+08

In [35]:
df15 = pd.read_csv(path + "\\2015_4Q_FS\\_2015_사업보고서_04_현금흐름표_연결_20160601.csv")
df16 = pd.read_csv(path + "\\2016_4Q_FS\\_2016_사업보고서_04_현금흐름표_연결_20170524.csv")

In [36]:
df15['항목명'] = df15['항목명'].str.strip()
df16['항목명'] = df16['항목명'].str.strip()

In [37]:
cf215= df15.loc[:,['시장구분','종목코드', '회사명', '결산기준일', '항목코드', '항목명', '당기', '전기', '전전기']]
cf216= df16.loc[:,['시장구분','종목코드', '회사명', '결산기준일', '항목코드', '항목명', '당기', '전기', '전전기']]

In [38]:
cf215.head(2)

,시장구분,종목코드,회사명,결산기준일,항목코드,항목명,당기,전기,전전기
0,코스닥시장상장법인,[060310],3S,2015-03-31,ifrs_CashFlowsFromUsedInOperatingActivities,영업활동현금흐름,3.505982e+08,1.960176e+09,3.312258e+09
1,코스닥시장상장법인,[060310],3S,2015-03-31,dart_ProfitLossForStatementOfCashFlows,당기순이익(손실),-5.599033e+09,-4.760633e+09,7.011469e+08

In [39]:
f15 = pd.concat([bs115, bs215, pl115, pl215, pl315, pl415, cf115, cf215], axis=0)
f16 = pd.concat([bs116, bs216, pl116, pl216, pl316, pl416, cf116, cf216], axis=0)

In [40]:
f16.head(2)

,시장구분,종목코드,회사명,결산기준일,항목코드,항목명,당기,전기,전전기
0,코스닥시장상장법인,[060310],3S,2016-03-31,ifrs_AssetsAbstract,자산 [abstract],NaN,NaN,NaN
1,코스닥시장상장법인,[060310],3S,2016-03-31,ifrs_CurrentAssets,유동자산,1.155636e+10,1.490718e+10,1.682680e+10

In [41]:
print(f15.shape)
print(f16.shape)

(395342, 9)
(408253, 9)

In [42]:
f15 = f15[f15['시장구분'] != '코스닥시장상장법인']
f16 = f16[f16['시장구분'] != '코스닥시장상장법인']

In [43]:
f15.drop_duplicates(subset = ['종목코드', '결산기준일', '항목코드'],inplace=True)
f16.drop_duplicates(subset = ['종목코드', '결산기준일', '항목코드'],inplace=True)

In [44]:
#test = test[(test['id'] != 1) | (test['num'] != 1)]
net_income_items = ['당기순이익(손실)','V. 당기순이익','VI. 당기순이익(손실)','당기순이익']
net_income_codes = ['ifrs_ProfitLoss']
asset_codes = ['ifrs_Assets']
asset_items = ['자산총계','자산 총계']
cash_flow_codes = ['ifrs_CashFlowsFromUsedInOperatingActivities']
cash_flow_items = ['Ⅰ.영업활동으로 인한 현금흐름','영업활동 현금흐름','영업활동으로 인한 현금흐름']
long_liability_codes = ['ifrs_NoncurrentLiabilities']
long_liability_items = ['장기차입금','비유동부채','비유동 부채']
current_liability_codes = ['ifrs_CurrentLiabilities']
current_liability_items = ['유동부채','유동 부채']
current_asset_codes = ['ifrs_CurrentAssets']
current_asset_items = ['유동자산']
capital_items = ['자본금','1.자본금','보통주자본금','자 본 금','납입자본']
total_sales_items = ['매출','영업수익','매출액']
total_sales_codes = ['ifrs_Revenue']
g_margin_codes = ['dart_OperatingIncomeLoss','ifrs_GrossProfit']
g_margin_items = ['매출총이익','영업이익','매출 총이익']

In [45]:
items = net_income_items + asset_items + cash_flow_items + capital_items + total_sales_items + g_margin_items
codes = net_income_codes + asset_codes + cash_flow_codes + long_liability_codes + current_liability_codes + \
            current_asset_codes + total_sales_codes + g_margin_codes

In [46]:
f15 = f15[(f15['항목코드'].isin(codes)) | (f15['항목명'].isin(items))]
f16 = f16[(f16['항목코드'].isin(codes)) | (f16['항목명'].isin(items))]

In [47]:
print(f15.shape)
print(f16.shape)

(8383, 9)
(8416, 9)

In [48]:
company_list = pd.unique(f16[['종목코드','회사명']].values)
#company_list = [('[095570]', 'AJ네트웍스'), ('[068400]', 'AJ렌터카')]
#company_list

In [49]:
len(company_list)

715

In [50]:
# pd.set_option('display.max_rows',500)
# temp = f15[f15['회사명'] == 'S&K폴리텍']
# temp

In [51]:
f_scores = {}
for company, name in company_list:
    f_score = 0
    skip = False
    
    Net_Income_prev = f15[(f15['종목코드'] == company) & \
                          (f15['항목코드'].isin(net_income_codes) | f15['항목명'].isin(net_income_items))]['당기']
    if Net_Income_prev.values.size == 0:
        skip = True
        print('Net Income Previous Year not found')
    
    Net_Income = f16[(f16['종목코드'] == company) & \
                      (f16['항목코드'].isin(net_income_codes) | f16['항목명'].isin(net_income_items))]['당기']
    if Net_Income.values.size == 0:
        skip = True
        print('Net Income not found')
    
    Total_Asset_prev  = f15[(f15['종목코드'] == company) & \
                            (f15['항목코드'].isin(asset_codes) | f15['항목명'].isin(asset_items))]['전기']
    if Total_Asset_prev.values.size == 0:
        skip = True
        print('Total Asset Previous Year not found')
        
    Total_Asset  = f16[(f16['종목코드'] == company) & \
                       (f16['항목코드'].isin(asset_codes) | f16['항목명'].isin(asset_items))]['전기']
    if Total_Asset.values.size == 0:
        skip = True
        print('Total Asset not found')
        
    Avg_Total_Asset_prev  = f15[(f15['종목코드'] == company) & \
                                (f15['항목코드'].isin(asset_codes) | f15['항목명'].isin(asset_items))]['당기']
    if Avg_Total_Asset_prev.values.size == 0:
        skip = True
        print('Average Total Asset previous year not found')
        
    Avg_Total_Asset  = f16[(f16['종목코드'] == company) & \
                           (f16['항목코드'].isin(asset_codes) | f16['항목명'].isin(asset_items))]['당기']
    if Avg_Total_Asset.values.size == 0:
        skip = True
        print('Average Total Asset not found')
               
    Cash_Flow =  f16[(f16['종목코드'] == company) & \
                     (f16['항목코드'].isin(cash_flow_codes) | f16['항목명'].isin(cash_flow_items) )]['당기'] 
    if Cash_Flow.size == 0:
        skip = True
        print('Cash Flow not found')
    
    Long_Liability_prev =  f15[(f15['종목코드'] == company) & \
                               (f15['항목코드'].isin(long_liability_codes) | f15['항목명'].isin(long_liability_items))]['당기'] 
    if Long_Liability_prev.size == 0:
        skip = True
        print('Long Liability Previous Year not found')
    
    Long_Liability =  f16[(f16['종목코드'] == company) & \
                          (f16['항목코드'].isin(long_liability_codes) | f16['항목명'].isin(long_liability_items))]['당기'] 
    if Long_Liability.size == 0:
        skip = True
        print('Long Liability not found')
               
    Current_Liability_prev =  f15[(f15['종목코드'] == company) & \
                                  (f15['항목코드'].isin(current_liability_codes) | f15['항목명'].isin(current_liability_items))]['당기'] 
    if Current_Liability_prev.size == 0:
        skip = True
        print('Current Liability previous year not found')
    
    Current_Liability =  f16[(f16['종목코드'] == company) & \
                            (f16['항목코드'].isin(current_liability_codes) | f16['항목명'].isin(current_liability_items))]['당기'] 
    if Current_Liability.size == 0:
        skip = True
        print('Current Liability not found')
        
    Current_Asset_prev =  f15[(f15['종목코드'] == company) & \
                              (f15['항목코드'].isin(current_asset_codes) | f15['항목명'].isin(current_asset_items))]['당기'] 
    if Current_Asset_prev.size == 0:
        skip = True
        print('Current Asset previous year not found')   
        
    Current_Asset =  f16[(f16['종목코드'] == company) & \
                        (f16['항목코드'].isin(current_asset_codes) | f16['항목명'].isin(current_asset_items))]['당기'] 
    if Current_Asset.size == 0:
        skip = True
        print('Current Asset not found') 
    
    EQ_prev =  f15[(f15['종목코드'] == company) & (f15['항목명'].isin(capital_items))]['당기'] 
    if EQ_prev.size == 0:
        skip = True
        print('EQuity previou year not found')  
        
    EQ =  f16[(f16['종목코드'] == company) & (f16['항목명'].isin(capital_items))]['당기'] 
    if EQ.size == 0:
        skip = True
        print('EQuity not found')  

    Total_Sales_prev =  f15[(f15['종목코드'] == company) & \
                            (f15['항목코드'].isin(total_sales_codes) | f15['항목명'].isin(total_sales_items))]['당기'] 
    if Total_Sales_prev.size == 0:
        skip = True
        print('Total Sales previous year not found') 
        
    Total_Sales =  f16[(f16['종목코드'] == company) & \
                        (f16['항목코드'].isin(total_sales_codes) | f16['항목명'].isin(total_sales_items))]['당기'] 
    if Total_Sales.size == 0:
        skip = True
        print('Total Sales not found')

    G_Margin_prev =  f15[(f15['종목코드'] == company) & \
                         (f15['항목코드'].isin(g_margin_codes) | f15['항목명'].isin(g_margin_items))]['당기'] 
    if G_Margin_prev.size == 0:
        skip = True
        print('Gross Margin previous year not found')
        
    G_Margin =  f16[(f16['종목코드'] == company) & \
                     (f16['항목코드'].isin(g_margin_codes) | f16['항목명'].isin(g_margin_items))]['당기'] 
    if G_Margin.size == 0:      
        skip = True
        print('Gross Margin not found')
    
    if skip:
        print(company, name, 'skipped ......')
    else:
        #** ROA 
        ROA = Net_Income.values[0] / Total_Asset.values[0]
        if ROA > 0:
            f_score += 1
        #** CFO   
        CFO = Cash_Flow.values[0] / Total_Asset.values[0]
        if CFO > 0:
            f_score += 1
        #** Delta ROA
        ROA_prev = Net_Income_prev.values[0] / Total_Asset_prev.values[0]
        if ROA - ROA_prev > 0:
            f_score += 1
        #** Accrual
        if CFO > ROA :
            f_score += 1
        #** Delta Leverage
        LEV = Long_Liability.values[0] / Avg_Total_Asset.values[0]
        LEV_prev = Long_Liability_prev.values[0] / Avg_Total_Asset_prev.values[0]    
        if (LEV - LEV_prev) > 0:
            f_score += 1
        #** Delta Liquitity
        LEQ = Current_Asset.values[0] / Current_Liability.values[0]
        LEQ_prev = Current_Asset_prev.values[0] / Current_Liability_prev.values[0]
        if (LEQ - LEQ_prev) > 0:
            f_score += 1
        #** EQ_OFFER
        if EQ_prev.values[0] == EQ.values[0]:
            f_score += 1
        #** Delta margin
        GMO = G_Margin.values[0] / Total_Sales.values[0]
        GMO_prev = G_Margin_prev.values[0] / Total_Sales_prev.values[0]
        if (GMO - GMO_prev) > 0:
            f_score += 1
        #** Delta Turnover
        ATR = Total_Sales.values[0] / Total_Asset.values[0]
        ATR_prv = Total_Sales_prev.values[0] /  Total_Asset_prev.values[0]
        if (ATR - ATR_prv) > 0:
            f_score += 1
       
        f_scores[company+ ' ' + name] = f_score

Net Income Previous Year not found
Total Asset Previous Year not found
Average Total Asset previous year not found
Long Liability Previous Year not found
Current Liability previous year not found
Current Asset previous year not found
EQuity previou year not found
Total Sales previous year not found
Gross Margin previous year not found
[234080] JW생명과학 skipped ......
Long Liability Previous Year not found
Long Liability not found
Current Liability previous year not found
Current Liability not found
Current Asset previous year not found
Current Asset not found
[000040] KR모터스 skipped ......
Net Income Previous Year not found
Total Asset Previous Year not found
Average Total Asset previous year not found
Long Liability Previous Year not found
Current Liability previous year not found
Current Asset previous year not found
EQuity previou year not found
Total Sales previous year not found
Gross Margin previous year not found
[229640] LS전선아시아 skipped ......
Cash Flow not found
[011810] STX skipped ......
Long Liability Previous Year not found
Current Liability previous year not found
Current Asset previous year not found
[140910] 광희리츠 skipped ......
Net Income Previous Year not found
Total Asset Previous Year not found
Average Total Asset previous year not found
Long Liability Previous Year not found
Current Liability previous year not found
Current Asset previous year not found
EQuity previou year not found
Total Sales previous year not found
Gross Margin previous year not found
[004440] 대림씨엔에스 skipped ......
Net Income Previous Year not found
Total Asset Previous Year not found
Average Total Asset previous year not found
Long Liability Previous Year not found
Current Liability previous year not found
Current Asset previous year not found
EQuity previou year not found
Total Sales previous year not found
Gross Margin previous year not found
[145720] 덴티움 skipped ......
Net Income Previous Year not found
Total Asset Previous Year not found
Average Total Asset previous year not found
Long Liability Previous Year not found
Current Liability previous year not found
Current Asset previous year not found
EQuity previou year not found
Total Sales previous year not found
Gross Margin previous year not found
[026960] 동서 skipped ......
Net Income Previous Year not found
Total Asset Previous Year not found
Average Total Asset previous year not found
Long Liability Previous Year not found
Current Liability previous year not found
Current Asset previous year not found
EQuity previou year not found
Total Sales previous year not found
Gross Margin previous year not found
[241560] 두산밥캣 skipped ......
Net Income Previous Year not found
Total Asset Previous Year not found
Average Total Asset previous year not found
Long Liability Previous Year not found
Current Liability previous year not found
Current Asset previous year not found
EQuity previou year not found
Total Sales previous year not found
Gross Margin previous year not found
[016740] 두올 skipped ......
Long Liability Previous Year not found
Long Liability not found
Current Liability previous year not found
Current Liability not found
[004990] 롯데제과 skipped ......
Net Income Previous Year not found
Total Asset Previous Year not found
Average Total Asset previous year not found
Long Liability Previous Year not found
Current Liability previous year not found
Current Asset previous year not found
EQuity previou year not found
Total Sales previous year not found
Gross Margin previous year not found
[204210] 모두투어리츠 skipped ......
EQuity not found
[002410] 범양건영 skipped ......
Net Income Previous Year not found
Total Asset Previous Year not found
Average Total Asset previous year not found
Long Liability Previous Year not found
Current Liability previous year not found
Current Asset previous year not found
EQuity previou year not found
Total Sales previous year not found
Gross Margin previous year not found
[248170] 샘표식품 skipped ......
Gross Margin previous year not found
Gross Margin not found
[145210] 세화아이엠씨 skipped ......
Long Liability Previous Year not found
Long Liability not found
[083570] 아시아10호 skipped ......
Long Liability Previous Year not found
Long Liability not found
[083580] 아시아퍼시픽11호 skipped ......
Long Liability Previous Year not found
Long Liability not found
[083590] 아시아퍼시픽12호 skipped ......
Long Liability Previous Year not found
Long Liability not found
[083600] 아시아퍼시픽13호 skipped ......
Long Liability Previous Year not found
Long Liability not found
[083610] 아시아퍼시픽14호 skipped ......
Long Liability Previous Year not found
Long Liability not found
[083620] 아시아퍼시픽15호 skipped ......
Net Income Previous Year not found
Total Asset Previous Year not found
Average Total Asset previous year not found
Long Liability Previous Year not found
Current Liability previous year not found
Current Asset previous year not found
EQuity previou year not found
Total Sales previous year not found
Gross Margin previous year not found
[070960] 용평리조트 skipped ......
EQuity previou year not found
EQuity not found
[102460] 이연제약 skipped ......
Net Income Previous Year not found
Total Asset Previous Year not found
Average Total Asset previous year not found
Long Liability Previous Year not found
Current Liability previous year not found
Current Asset previous year not found
EQuity previou year not found
Total Sales previous year not found
Gross Margin previous year not found
[249420] 일동제약 skipped ......
Cash Flow not found
[103140] 풍산 skipped ......
EQuity previou year not found
EQuity not found
[033180] 필룩스 skipped ......
Net Income Previous Year not found
Total Asset Previous Year not found
Average Total Asset previous year not found
Long Liability Previous Year not found
Current Liability previous year not found
Current Asset previous year not found
EQuity previou year not found
Total Sales previous year not found
Gross Margin previous year not found
[195870] 해성디에스 skipped ......
Net Income Previous Year not found
Total Asset Previous Year not found
Average Total Asset previous year not found
Long Liability Previous Year not found
Current Liability previous year not found
Current Asset previous year not found
EQuity previou year not found
Total Sales previous year not found
Gross Margin previous year not found
[101530] 해태제과식품 skipped ......
Net Income Previous Year not found
Total Asset Previous Year not found
Average Total Asset previous year not found
Long Liability Previous Year not found
Current Liability previous year not found
Current Asset previous year not found
EQuity previou year not found
Total Sales previous year not found
Gross Margin previous year not found
[143210] 핸즈코퍼레이션 skipped ......
Net Income Previous Year not found
Total Asset Previous Year not found
Average Total Asset previous year not found
Long Liability Previous Year not found
Current Liability previous year not found
Current Asset previous year not found
EQuity previou year not found
Total Sales previous year not found
Gross Margin previous year not found
[111110] 호전실업 skipped ......
Net Income Previous Year not found
Total Asset Previous Year not found
Average Total Asset previous year not found
Long Liability Previous Year not found
Current Liability previous year not found
Current Asset previous year not found
EQuity previou year not found
Total Sales previous year not found
Gross Margin previous year not found
[241590] 화승엔터프라이즈 skipped ......

In [100]:
len(f_scores)

684

In [133]:
from collections import OrderedDict
dict_items = OrderedDict()
dict_items = {'Code': [], 'Name': [], 'F_Score': []}

for key, val in f_scores.items():
    code = key.replace('[','').replace(']','').split()
    code[0] = 'A' + code[0]
    dict_items['Code'].append(code[0])
    dict_items['Name'].append(code[1])
    dict_items['F_Score'].append(val)

In [134]:
df = pd.DataFrame.from_dict(dict_items) ;df

        Code  F_Score        Name
0    A136490        7          선진
1    A032350        6      롯데관광개발
2    A093370        5          후성
3    A016800        5         퍼시스
4    A020560        6      아시아나항공
5    A025620        6         제이준
6    A002450        4        삼익악기
7    A004130        4       대덕GDS
8    A012200        6        계양전기
9    A004150        3       한솔홀딩스
10   A064350        7        현대로템
11   A082740        6        두산엔진
12   A090350        7       노루페인트
13   A021820        5        세원정공
14   A097950        7      CJ제일제당
15   A039130        6        하나투어
16   A214390        4        경보제약
17   A134790        7          팀스
18   A024900        1        덕양산업
19   A004060        2      SG세계물산
20   A047040        4        대우건설
21   A020120        3       다우인큐브
22   A004870        5      티웨이홀딩스
23   A083360        6  동북아11호선박투자
24   A012320        7      경동도시가스
25   A086280        5      현대글로비스
26   A004910        8       조광페인트
27   A002200        5    한국수출포장공업
28   A003410        6      쌍용양회공업
29   A213500        4        한솔제지
..       ...      ...         ...
654  A010640        5     진양폴리우레탄
655  A090970        5      코리아01호
656  A005490        8         포스코
657  A104700        6        한국철강
658  A001880        7          삼호
659  A003850        4        보령제약
660  A042660        3      대우조선해양
661  A000520        8        삼일제약
662  A005930        6        삼성전자
663  A068290        5       삼성출판사
664  A089590        4        제주항공
665  A004800        7          효성
666  A008700        4        아남전자
667  A006570        7        대림통상
668  A128820        4        대성산업
669  A017390        7      서울도시가스
670  A014830        6         유니드
671  A090990        4      코리아03호
672  A018470        5       조일알미늄
673  A051900        8      LG생활건강
674  A007980        3       태평양물산
675  A051600        4       한전KPS
676  A004000        5      롯데정밀화학
677  A012030        5          동부
678  A004370        7          농심
679  A008000        7      도레이케미칼
680  A000700        7       유수홀딩스
681  A011170        7       롯데케미칼
682  A015540        3          핫텍
683  A005440        5      현대그린푸드

[684 rows x 3 columns]

In [77]:
df.to_csv('output.csv')

In [54]:
        
#     EQ_prev =  f15[(f15['종목코드'] == company) & (f15['항목코드'].isin(EQ_items))]['당기'] 
#     if EQ_prev.size == 0:
#         skip = True
#         print('EQuity previou year not found')      

#     EQ_prev =  f15[(f15['종목코드'] == company) & (f15['항목코드'] == 'dart_ContributedEquity')]['당기'] 
#     if EQ_prev.size == 0:
#         EQ_prev =  f15[(f15['종목코드'] == company) & \
#                        (f15['항목코드'] == 'entity00635134_udf_BS_2011519194248375_EquityAbstract')]['당기']                                                   
#         if EQ_prev.size == 0:
#             EQ_prev =  f15[(f15['종목코드'] == company) & \
#                        (f15['항목코드'] == 'entity00222532_udf_BS_20121127144511422_EquityAbstract')]['당기']   
#             if EQ_prev.size == 0:
#                 skip = True
#                 print('EQuity previou year not found')                   
                
#     EQ =  f16[(f16['종목코드'] == company) & (f16['항목코드'] == 'dart_ContributedEquity')]['당기'] 
#     if EQ.size == 0:
#         EQ =  f16[(f16['종목코드'] == company) & \
#                   (f16['항목코드'] == 'entity00635134_udf_BS_2011519194248375_EquityAbstract')]['당기']                                         
#         if EQ.size == 0:
#             EQ =  f16[(f16['종목코드'] == company) & \
#                   (f16['항목코드'] == 'entity00222532_udf_BS_20121127144511422_EquityAbstract')]['당기'] 
#             if EQ.size == 0:
#                 skip = True
#                 print('EQuity not found')    
                
#     EQ =  f16[(f16['종목코드'] == company) & (f16['항목코드'].isin(EQ_items))]['당기'] 
#     if EQ.size == 0:
#         skip = True
#         print('EQuity not found')