In [188]:
#-*-coding: utf-8
import pandas as pd
import os

In [189]:
path = os.getcwd();path

'C:\\Users\\trimu\\Desktop\\kiwoom\\FinancialSheet'

In [190]:
df_all = pd.DataFrame()
df1 = pd.DataFrame()
df1c = pd.DataFrame()
df2 = pd.DataFrame()
df2c = pd.DataFrame()
df3= pd.DataFrame()
df3c = pd.DataFrame()
df4= pd.DataFrame()
df4c = pd.DataFrame()

In [191]:
f15 = pd.read_csv(path + "\\2015_4Q_FS\\_2015_01_BS1_20160531.csv")
f16 = pd.read_csv(path + "\\2016_4Q_FS\\_2016_01_BS1_20170524.csv")
f17 = pd.read_csv(path + "\\2017_4Q_FS\\2017_3Q_01_BS1_20180131.csv")
f17.rename(index=str, columns={'당기 3분기말': '당기'}, inplace=True);

In [192]:
f15.shape

(76998, 16)

In [193]:
df1  = pd.concat([f15, f16, f17], axis=0)
df1['kind'] = '1'     # 재무상태표
df1.shape

(235806, 19)

In [195]:
f15 = pd.read_csv(path + "\\2015_4Q_FS\\_2015_01_BS2_20160531.csv")
f16 = pd.read_csv(path + "\\2016_4Q_FS\\_2016_01_BS2_20170524.csv")
f17 = pd.read_csv(path + "\\2017_4Q_FS\\2017_3Q_01_BS2_20180131.csv")
f17.rename(index=str, columns={'당기 3분기말': '당기'}, inplace=True);

In [196]:
df1c = pd.concat([f15, f16, f17], axis=0)
df1c['kind'] = '1c'    #연결 재무상태표
df1c.shape

(202633, 19)

In [197]:
f15 = pd.read_csv(path + "\\2015_4Q_FS\\_2015_02_PL1_20160531.csv")
f16 = pd.read_csv(path + "\\2016_4Q_FS\\_2016_02_PL1_20170524.csv")
f17 = pd.read_csv(path + "\\2017_4Q_FS\\2017_3Q_02_PL1_20180131.csv")
f17.rename(index=str, columns={'당기 3분기 누적': '당기'}, inplace=True);

In [198]:
df2 = pd.concat([f15, f16, f17], axis=0)
df2['kind'] = '2'           # 손익계산서
df2.shape

(11556, 23)

In [199]:
f15 = pd.read_csv(path + "\\2015_4Q_FS\\_2015_02_PL2_20160531.csv")
f16 = pd.read_csv(path + "\\2016_4Q_FS\\_2016_02_PL2_20170524.csv")
f17 = pd.read_csv(path + "\\2017_4Q_FS\\2017_3Q_02_PL2_20180131.csv")
f17.rename(index=str, columns={'당기 3분기 누적': '당기'}, inplace=True);

In [200]:
df2c = pd.concat([f15, f16, f17], axis=0)
df2c['kind'] = '2c'           # 연결손익계산서
df2c.shape

(12102, 23)

In [201]:
f15 = pd.read_csv(path + "\\2015_4Q_FS\\_2015_03_PL3_20160531.csv")
f16 = pd.read_csv(path + "\\2016_4Q_FS\\_2016_03_PL3_20170524.csv")
f17 = pd.read_csv(path + "\\2017_4Q_FS\\2017_3Q_03_PL3_20180131.csv")
f17.rename(index=str, columns={'당기 3분기 누적': '당기'}, inplace=True);

In [202]:
df3 = pd.concat([f15, f16, f17], axis=0)
df3['kind'] = '3'            # 포괄손익계산서
df3.shape

(123687, 23)

In [203]:
f15 = pd.read_csv(path + "\\2015_4Q_FS\\_2015_03_PL4_20160531.csv")
f16 = pd.read_csv(path + "\\2016_4Q_FS\\_2016_03_PL4_20170524.csv")
f17 = pd.read_csv(path + "\\2017_4Q_FS\\2017_3Q_03_PL4_20180131.csv")
f17.rename(index=str, columns={'당기 3분기 누적': '당기'}, inplace=True);

In [204]:
df3c = pd.concat([f15, f16, f17], axis=0)
df3c['kind'] = '3c'        # 연결 포괄손익계산서
df3c.shape

(128771, 23)

In [205]:
f15 = pd.read_csv(path + "\\2015_4Q_FS\\_2015_04_CF1_20160601.csv")
f16 = pd.read_csv(path + "\\2016_4Q_FS\\_2016_04_CF1_20170524.csv")
f17 = pd.read_csv(path + "\\2017_4Q_FS\\2017_3Q_04_CF1_20180131.csv")
f17.rename(index=str, columns={'당기 3분기': '당기'}, inplace=True);

In [206]:
df4 = pd.concat([f15, f16, f17], axis=0)
df4['kind'] = '4'          # 현금흐름표
df4.shape

(258454, 19)

In [207]:
f15 = pd.read_csv(path + "\\2015_4Q_FS\\_2015_04_CF2_20160601.csv")
f16 = pd.read_csv(path + "\\2016_4Q_FS\\_2016_04_CF2_20170524.csv")
f17 = pd.read_csv(path + "\\2017_4Q_FS\\2017_3Q_04_CF2_20180131.csv")
f17.rename(index=str, columns={'당기 3분기': '당기'}, inplace=True);

In [208]:
df4c = pd.concat([f15, f16, f17], axis=0)
df4c['kind'] = '4c'          # 연결현금흐름표
df4c.shape

(224843, 19)

In [209]:
df_all = pd.concat([df1, df1c, df2, df2c, df3, df3c, df4, df4c], axis=0)
df_all.shape

(1197852, 26)

In [210]:
df_all['항목명']    = df_all['항목명'].str.strip()
df_all['종목코드'] = df_all['종목코드'].str.strip('[]')

In [211]:
df_all =df_all.loc[:,['kind', '시장구분','종목코드', '회사명', '결산기준일', '항목코드', '항목명', '당기']]

In [213]:
df_all.drop_duplicates(subset = ['kind', '종목코드', '결산기준일', '항목코드', '당기'],inplace=True)

In [214]:
df_all.rename(index=str, columns={ '시장구분': 'smarket', '종목코드':'code', '회사명': 'code_name', '결산기준일':  'closing_date',\
                                                 '항목코드':  'item_code', '항목명':  'item_name', '당기': 'amount'}, inplace=True);

In [215]:
df_all.loc[df_all['smarket'] == '유가증권시장상장법인', 'smarket'] = '1'
df_all.loc[df_all['smarket'] == '코스닥시장상장법인', 'smarket'] = '2'

In [216]:
df_all.dropna(inplace=True)
df_all.shape

(1074040, 8)

In [217]:
df_all[(df_all['code'] == '005930') & (df_all['item_code'] == 'dart_OperatingIncomeLoss')]

,kind,smarket,code,code_name,closing_date,item_code,item_name,amount
1670,2,1,005930,삼성전자,2015-12-31,dart_OperatingIncomeLoss,영업이익(손실),1.339820e+13
1668,2,1,005930,삼성전자,2016-12-31,dart_OperatingIncomeLoss,영업이익(손실),1.364740e+13
1505,2,1,005930,삼성전자,2017-09-30,dart_OperatingIncomeLoss,영업이익(손실),2.359760e+13
1811,2c,1,005930,삼성전자,2015-12-31,dart_OperatingIncomeLoss,영업이익(손실),2.641340e+13
1898,2c,1,005930,삼성전자,2016-12-31,dart_OperatingIncomeLoss,영업이익(손실),2.924070e+13
1680,2c,1,005930,삼성전자,2017-09-30,dart_OperatingIncomeLoss,영업이익(손실),3.849810e+13

In [218]:
import sys
sys.path.append('../lib/')
from dbConnect import *
import sqlalchemy

In [219]:
df_all.to_sql('financesheet', con=engine, if_exists='replace', index=False, \
                                        dtype={'kind': sqlalchemy.types.CHAR(2),
                                               'smarket': sqlalchemy.types.VARCHAR(2),
                                               'code': sqlalchemy.types.CHAR(6),
                                               'code_name': sqlalchemy.types.VARCHAR(255),
                                               'closing_date': sqlalchemy.types.VARCHAR(10),
                                               'item_code':  sqlalchemy.types.VARCHAR(255),
                                               'item_name':  sqlalchemy.types.VARCHAR(255),
                                               'amount': sqlalchemy.types.Float})