In [11]:
import pandas as pd

In [21]:
 d = {'col1': [1, 2,3], 'col2': [3, 4,5]}

In [22]:
 df = pd.DataFrame(data=d);df

   col1  col2
0     1     3
1     2     4
2     3     5

In [23]:
df.iloc[-1:]

   col1  col2
2     3     5