In [2]:
import sys
import numpy as np
sys.path.append('../lib/')
from dbConnect import *
from kiwoomMain import *
import sqlalchemy
import pandas as pd

C:\Users\trimu\Miniconda3\envs\py36_32\lib\site-packages\pymysql\cursors.py:165: Warning: (1366, "Incorrect string value: '\\xB4\\xEB\\xC7\\xD1\\xB9\\xCE...' for column 'VARIABLE_VALUE' at row 481")
  result = self._query(query)

In [3]:
#period_years = set(['2015', '2016', '2017'])      # 2015, 2016, 2017  3 개년 

df_all = pd.read_sql("select * from financesheet where item_code='dart_OperatingIncomeLoss'", con=engine)  # 영업이익만 select

In [4]:
len(set(df_all[(df_all['smarket'] == '1')]['code']))     # 유가증권시장 종목수

740

In [5]:
len(set(df_all[(df_all['smarket'] == '2')]['code']))     # 코스닥시장 종목수

1218

In [6]:
df_all['year'] = df_all['closing_date'].str[:4]                     # year column 추가

loss_codes = df_all[df_all['amount'] < 0].code.tolist()      # 영업이익 하나라도 적자인 회사 코드 list

In [7]:
len(set(loss_codes))  # 유가증권시장 + 코스닥 영업이익 1 년이라도 적자인 회사 수

792

In [8]:
len(set(df_all[(df_all['amount'] < 0) & (df_all['smarket'] == '1')]['code']))    # 유가증권시장에서 1 년이라도 적자난 회사 수

215

In [9]:
len(set(df_all[(df_all['amount'] < 0) & (df_all['smarket'] == '2')]['code']))    # 코스닥에서 1 년이라도 적자난 회사 수

577

In [10]:
df_all = df_all[~df_all['code'].isin(loss_codes)]                 # 영업이익 하나라도 적자인 회사 제외하면 3 개년 모두 흑자인 회사만 남음

df_all.drop(columns=['item_code', 'item_name', 'closing_date'],inplace=True)    # 불필요한 두개 column 삭제

In [11]:
df_all.shape

(5730, 6)

In [12]:
df2015 = df_all.loc[df_all.year == '2015', :]                    # 연도별 영업이익을 한 row 로 merge 하기 위해 3 개 dataframe 으로 분리
df2016 = df_all.loc[df_all.year == '2016', :]
df2017 = df_all.loc[df_all.year == '2017', :]

In [13]:
df_all = pd.merge(df2015, df2016, on=['kind','smarket','code','code_name'])    
df_all = pd.merge(df_all, df2017,on=['kind','smarket','code','code_name'])

In [14]:
df_all.tail(2)

,kind,smarket,code,code_name,amount_x,year_x,amount_y,year_y,amount,year
1662,3c,2,189980,흥국에프엔비,8.597290e+09,2015,3.922360e+09,2016,4.235390e+09,2017
1663,3c,2,037440,희림,6.954140e+09,2015,5.398000e+09,2016,5.009800e+09,2017

In [15]:
profit_codes = df_all.code                   # 3 개년 모두 흑자인 회사 코드

In [16]:
len(set(profit_codes))                          #3 개년 모두 흑자인 회사 갯수

958

In [17]:
len(set(df_all[(df_all['smarket'] == '1')]['code']))     # 3 개년 모두 흑자인 유가증권시장 회사 갯수

450

In [19]:
len(set(df_all[(df_all['smarket'] == '2')]['code']))     # 3 개년 모두 흑자인 코스닥시장 회사 갯수

508

In [20]:
app = QApplication(sys.argv)
kiwoom = Kiwoom()
kiwoom.comm_connect()

connected

In [21]:
def price(code):
    kiwoom.set_input_value("종목코드", code)
    kiwoom.comm_rq_data("opt10001_req", "opt10001", 0, "2000")
    highest_250 = kiwoom.highest_250
    lowest_250 = kiwoom.lowest_250
    current_price = kiwoom.current_price
    
    return (highest_250, lowest_250, current_price)

In [22]:
df_all['highest_250'] = np.nan
df_all['lowest_250']  = np.nan
df_all['current_price'] = np.nan

In [23]:
for k, code in profit_codes[:50].items():
    time.sleep(TR_REQ_TIME_INTERVAL)
    
    highest_250, lowest_250, current_price = price(code)
    
    if highest_250 < 0:
        highest_250 *= -1
    if lowest_250 < 0:
        lowest_250 *= -1
    if current_price < 0:
        current_price *= -1
    
    if current_price <= lowest_250 * 1.2:
        
        df_all.loc[k, 'highest_250'] = highest_250
        df_all.loc[k, 'lowest_250'] = lowest_250
        df_all.loc[k, 'current_price'] = current_price
        name = df_all.loc[k, 'code_name']
        
        print(code, name, highest_250, lowest_250, current_price, '\n')

001040 CJ 226500 153500 159000

037560 CJ헬로비전 10800 6600 7580

155660 DSR 14300 4805 5680

078930 GS 77600 56300 59800

028150 GS홈쇼핑 250400 176000 177100

024120 KB오토시스 8900 5890 5930

036030 KTH 7500 5070 5930

060370 KT서브마린 5300 4200 4740

001120 LG상사 33850 25450 26450

032640 LG유플러스 17900 11700 11900

011070 LG이노텍 188000 115500 137000

108670 LG하우시스 116000 75400 79200

000050 경방 17050 12950 14200

013580 계룡건설산업 23950 15300 17100

000270 기아자동차 40350 29950 31600

004270 남성 2790 1855 1940

090350 노루페인트 9670 7760 7870

000320 노루홀딩스 19250 14050 14850

004370 농심 380000 292000 311000

054050 농우바이오 18200 14450 16050

054050 농우바이오 18200 14450 16050

064260 다날 6940 4410 5020

019680 대교 8770 7630 7740

000210 대림산업 94600 70000 78400

005710 대원산업 9000 6700 7230

100130 동국S&C 7710 4455 4750

001230 동국제강 15850 9120 9190

001520 동양 2520 1700 1885

084670 동양고속 44700 24200 27000

000150 두산 149500 94200 108000

034020 두산중공업 25050 14300 15250

003160 디아이 7900 4150 4870

066900 디에이피 5400 2840 3250

033920 무학 26700 16850 17050

015350 부산도시가스 39700 33850 35700

In [24]:
df_all.dropna(inplace=True)

In [30]:
len(set(df_all['code']))     # 3 개년 모두 영업이익 흑자이면서  현재가가 52주 저가 * 1.2 이하인 회사 갯수

34

In [26]:
len(set(df_all[(df_all['smarket'] == '1')]['code']))     # 3 개년 모두 영업이익 흑자이면서  현재가가 52주 저가 * 1.2 인 유가증권시장 회사 갯수

25

In [27]:
len(set(df_all[(df_all['smarket'] == '2')]['code']))     # 3 개년 모두 영업이익 흑자이면서  현재가가 52주 저가 * 1.2 인 코스닥시장 회사 갯수

9

In [28]:
df_all[(df_all['smarket'] == '1')]     # 유가증권시장

,kind,smarket,code,code_name,amount_x,year_x,amount_y,year_y,amount,year,highest_250,lowest_250,current_price
0,2,1,001040,CJ,5.287360e+10,2015,5.880760e+10,2016,6.086360e+10,2017,226500.0,153500.0,159000.0
2,2,1,037560,CJ헬로비전,1.049700e+11,2015,4.293650e+10,2016,5.522610e+10,2017,10800.0,6600.0,7580.0
3,2,1,155660,DSR,1.183600e+10,2015,1.335450e+10,2016,1.236020e+10,2017,14300.0,4805.0,5680.0
4,2,1,078930,GS,1.444180e+11,2015,3.358060e+11,2016,4.305970e+11,2017,77600.0,56300.0,59800.0
11,2,1,001120,LG상사,7.442510e+10,2015,2.649260e+10,2016,4.134470e+10,2017,33850.0,25450.0,26450.0
13,2,1,032640,LG유플러스,6.463320e+11,2015,7.557770e+11,2016,6.354370e+11,2017,17900.0,11700.0,11900.0
14,2,1,011070,LG이노텍,1.841350e+11,2015,7.129730e+10,2016,1.346580e+11,2017,188000.0,115500.0,137000.0
15,2,1,108670,LG하우시스,1.175470e+11,2015,1.256580e+11,2016,9.742600e+10,2017,116000.0,75400.0,79200.0
18,2,1,000050,경방,3.862990e+10,2015,4.257680e+10,2016,2.768210e+10,2017,17050.0,12950.0,14200.0
19,2,1,013580,계룡건설산업,2.927910e+10,2015,6.095110e+10,2016,5.040840e+10,2017,23950.0,15300.0,17100.0
22,2,1,000270,기아자동차,2.294970e+12,2015,1.947040e+12,2016,3.259500e+11,2017,40350.0,29950.0,31600.0
24,2,1,004270,남성,3.677220e+09,2015,4.118640e+09,2016,4.176550e+09,2017,2790.0,1855.0,1940.0
25,2,1,090350,노루페인트,2.479840e+10,2015,2.331880e+10,2016,1.829130e+10,2017,9670.0,7760.0,7870.0
26,2,1,000320,노루홀딩스,1.248360e+10,2015,6.578680e+10,2016,1.336000e+10,2017,19250.0,14050.0,14850.0
27,2,1,004370,농심,1.053000e+11,2015,6.909680e+10,2016,6.559040e+10,2017,380000.0,292000.0,311000.0
31,2,1,019680,대교,4.601120e+10,2015,4.553120e+10,2016,3.583800e+10,2017,8770.0,7630.0,7740.0
32,2,1,000210,대림산업,4.246830e+11,2015,3.247070e+11,2016,3.698130e+11,2017,94600.0,70000.0,78400.0
37,2,1,001230,동국제강,1.342910e+11,2015,2.103390e+11,2016,1.290390e+11,2017,15850.0,9120.0,9190.0
39,2,1,001520,동양,1.842290e+10,2015,4.225780e+09,2016,1.384560e+10,2017,2520.0,1700.0,1885.0
40,2,1,084670,동양고속,1.580680e+10,2015,1.964760e+10,2016,5.807760e+09,2017,44700.0,24200.0,27000.0
41,2,1,000150,두산,2.134010e+11,2015,2.253710e+11,2016,2.092300e+11,2017,149500.0,94200.0,108000.0
42,2,1,034020,두산중공업,2.282270e+11,2015,2.834380e+11,2016,1.989870e+11,2017,25050.0,14300.0,15250.0
43,2,1,003160,디아이,1.395190e+09,2015,3.276090e+08,2016,5.727110e+09,2017,7900.0,4150.0,4870.0
47,2,1,033920,무학,6.615790e+10,2015,5.189130e+10,2016,2.866850e+10,2017,26700.0,16850.0,17050.0
49,2,1,015350,부산도시가스,3.100360e+10,2015,3.590520e+10,2016,3.106550e+10,2017,39700.0,33850.0,35700.0

In [29]:
df_all[(df_all['smarket'] == '2')]     # 코스닥시장

,kind,smarket,code,code_name,amount_x,year_x,amount_y,year_y,amount,year,highest_250,lowest_250,current_price
6,2,2,028150,GS홈쇼핑,1.124660e+11,2015,1.286310e+11,2016,1.055400e+11,2017,250400.0,176000.0,177100.0
7,2,2,024120,KB오토시스,1.138540e+10,2015,1.516700e+10,2016,1.022070e+10,2017,8900.0,5890.0,5930.0
8,2,2,036030,KTH,5.348240e+09,2015,6.258290e+09,2016,3.515490e+09,2017,7500.0,5070.0,5930.0
9,2,2,060370,KT서브마린,6.173340e+09,2015,8.068860e+09,2016,9.328760e+09,2017,5300.0,4200.0,4740.0
28,2,2,054050,농우바이오,8.098150e+08,2015,1.106450e+10,2016,8.875700e+09,2017,18200.0,14450.0,16050.0
29,2,2,054050,농우바이오,1.273650e+10,2015,1.106450e+10,2016,8.875700e+09,2017,18200.0,14450.0,16050.0
30,2,2,064260,다날,9.573460e+09,2015,1.642110e+10,2016,1.460740e+10,2017,6940.0,4410.0,5020.0
35,2,2,005710,대원산업,1.466470e+10,2015,1.672490e+10,2016,2.563160e+10,2017,9000.0,6700.0,7230.0
36,2,2,100130,동국S&C,1.510610e+10,2015,2.175880e+10,2016,1.345310e+10,2017,7710.0,4455.0,4750.0
44,2,2,066900,디에이피,1.244710e+10,2015,4.939260e+09,2016,5.003360e+09,2017,5400.0,2840.0,3250.0