In [13]:
from scipy import stats
import pandas as pd
import datetime
import sqlite3

import matplotlib.pyplot as plt
import matplotlib
matplotlib.rc('font', family='Malgun Gothic')
con = sqlite3.connect("D:\SQLITEDB\koreaStock.db")
c = con.cursor()

In [14]:
start = pd.to_datetime('2017-01-01')
end = pd.to_datetime('2017-12-31')
market = "001"   # KOSPI

KOSPI = pd.read_sql("SELECT * from marketCandle where code='" + market + "'", con, index_col=["date"])

KOSPI.index = KOSPI.index.to_datetime()
KOSPI= KOSPI[(KOSPI.index >= start) & (KOSPI.index <= end)]
KOSPI.index.name = 'date'

KOSPI['Daily Return'] =KOSPI['close'].pct_change(1)

In [15]:
KOSPI.head()

           code    open    high     low   close  volume  Daily Return
date
2017-01-02  001  202223  203179  201568  202616  229874           NaN
2017-01-03  001  203431  204407  202847  204397  268127      0.008790
2017-01-04  001  204629  204629  204061  204564  371488      0.000817
2017-01-05  001  204552  204650  203949  204195  541343     -0.001804
2017-01-06  001  204811  205184  204566  204912  455350      0.003511

In [16]:
KOSPI.resample('M').mean()

              open    high     low   close  volume  Daily Return
date
2017-01-31  206154  206792  205395  206173  421292      0.001079
2017-02-28  208354  208909  207605  208279  356446      0.000586
2017-03-31  213446  214208  212806  213617  403181      0.001482
2017-04-30  215930  216530  215099  216018  386471      0.001049
2017-05-31  229759  231128  228866  230189  369913      0.003313
2017-06-30  237135  237840  236278  237220  356375      0.000905
2017-07-31  241448  241976  240540  241289  296443      0.000230
2017-08-31  237377  238233  236186  237218  260176     -0.000731
2017-09-30  237130  238005  236255  237184  278223      0.000644
2017-10-31  248050  248968  247304  248287  315725      0.003298
2017-11-30  253849  254496  252468  253351  339752     -0.000838
2017-12-31  247209  248176  245735  246772  302527     -0.000162

In [32]:
df = pd.read_sql("select code, code_name from stockCode", con)

In [37]:
df[['code','code_name']].values

array([['52CB40', '미래CB40KB금융콜'],
       ['52CE16', '미래CE16KB금융콜'],
       ['52D200', '미래D200KB금융콜'],
       ...,
       ['900250', '크리스탈신소재'],
       ['900070', '글로벌에스엠'],
       ['900100', '뉴프라이드']], dtype=object)

In [42]:
import datetime
str(datetime.datetime.now())

'2018-03-09 23:43:35.776291'